.input {
    display: flex;
    flex-direction: column;
}

.input:has(input[type="checkbox"]) {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 1.5rem;
}

input[type=checkbox] {
    width: fit-content;
    height: fit-content;
    margin: 0;
}

.hidden-element {
    display: none;
}

.hidden-element-showed {
    display: initial;
}